$color-background: #ECEFF1;
$primary-color: #ff9800;
$height-topbar: 64px;
$width-leftmenu: 250px;
$h1: 6rem;
$h2: 3.75rem;
$h3: 3rem;
$h4: 2.125rem;
$h5: 1.5rem;
$h6: 1.1rem;
$subtitle1: 1rem;
$subtitle2: 0.875rem;
$body1: 1rem;
$body2: 0.875rem;
$button-font-size: 0.875rem;
$caption: 0.75rem;
$overline: 0.75rem;

$color-black: #16191C;

$height-form: 400px;
$p-card-radius: 8px;

$color-orange: #ff9800;
$color-orange-lighten-5: #FFF3E0;
$color-orange-lighten-4: #FFE0B2;
$color-orange-lighten-3: #FFCC80;
$color-orange-lighten-2: #FFB74D;
$color-orange-lighten-1: #FFA726;
$color-orange-darken-1: #FB8C00;
$color-orange-darken-2: #F57C00;
$color-orange-darken-3: #EF6C00;
$color-orange-darken-4: #E65100;

$color-green: #4CAF50;
$color-green-lighten-5: #E8F5E9;
$color-green-lighten-4: #C8E6C9;
$color-green-lighten-3: #A5D6A7;
$color-green-lighten-2: #81C784;
$color-green-lighten-1: #66BB6A;
$color-green-darken-1: #43A047;
$color-green-darken-2: #388E3C;
$color-green-darken-3: #2E7D32;
$color-green-darken-4: #1B5E20;

$color-red: #F44336;
$color-red-lighten-5: #FFEBEE;
$color-red-lighten-4: #FFCDD2;
$color-red-lighten-3: #EF9A9A;
$color-red-lighten-2: #E57373;
$color-red-lighten-1: #EF5350;
$color-red-darken-1: #E53935;
$color-red-darken-2: #D32F2F;
$color-red-darken-3: #C62828;
$color-red-darken-4: #B71C1C;

$color-blue-grey: #607D8B;
$color-blue-grey-lighten-5: #ECEFF1;
$color-blue-grey-lighten-4: #CFD8DC;
$color-blue-grey-lighten-3: #B0BEC5;
$color-blue-grey-lighten-2: #90A4AE;
$color-blue-grey-lighten-1: #78909C;
$color-blue-grey-darken-1: #546E7A;
$color-blue-grey-darken-2: #455A64;
$color-blue-grey-darken-3: #37474F;
$color-blue-grey-darken-4: #263238;

$color-white-darken-1: #F5F5F5;
$color-white-darken-2: #DEDEDE;